.anki {
  max-width: 550px;
  min-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
    --kanji-grid: #fafafa;
	font-family: Mincho;
	font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

#ooga.medium {
    margin-top: 15px;
}

.card.night_mode {
    --kanji-grid: #262626;
    color: white;
    background-color: #1f1f1f;
}

.grid-color {
    background-color: var(--kanji-grid);
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
}


.left {
  text-align: left;
}

.right {
  text-align: right;
}

.medium {
 font-size: 25px;
}

.big {
 font-size: 50px;
}

.gigantic {
 font-size: 100px;
}

.中{color:#3E5000;}
.高{color:#3E0000;}
.外{color:#686868;}


.card {
    --kanji-grid: #fafafa;
	font-family: Mincho;
	font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

#ooga.medium {
    margin-top: 15px;
}

.card.night_mode {
    --kanji-grid: #262626;
    color: white;
    background-color: #1f1f1f;
}

.grid-color {
    background-color: var(--kanji-grid);
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
}


.left {
  text-align: left;
}

.right {
  text-align: right;
}

.medium {
 font-size: 25px;
}

.big {
 font-size: 50px;
}

.gigantic {
 font-size: 100px;
}

.中{color:#3E5000;}
.高{color:#3E0000;}
.外{color:#686868;}

.word-translation {
  line-height: 1.2;
  font-size: 0.5em;
  display: block;
  text-align: left;
	margin-bottom: 8px;
}


